<% layout('../layouts/admin') -%>
<div class="row">
    <div class="col-md-12">
        <div class="card bg-transparent">
            <div class="contact-header d-flex align-items-sm-center media flex-column flex-sm-row bg-white mb-30">
                <div class="contact-header-left media-body d-flex align-items-center mr-4 col-6">
                    <!-- Add Concierge -->
                    <div class="page-title-box">
                        <div class="page-title-left">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/">Dashboard</a></li>
                                <li class="breadcrumb-item"><a href="/questions">Question Management</a></li>
                                <li class="breadcrumb-item active"><a href="javascript: void(0);">Edit</a></li>
                            </ol>
                        </div>
                    </div>
                    <!-- End Add Concierge -->
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="page-title mb-30">Edit Question</h4>
                <form method="post" id="addPrayer" action="/questions/edit/<%=question._id%>">
                    <div class="row">
                        <div class="col-lg-8">
                            <div class="form-group mb-3">
                                <div class="form-group">
                                    <label class="font-weight-bold"
                                        >Chapter No.<span class="text-danger">*</span></label
                                    >
                                    <select class="form-control" id="exampleFormControlSelect1" name="chapter">
                                        <option disabled selected>Select Chapter Number</option>
                                        <% chapters.forEach((ch)=>{%> <%
                                        if(ch._id.toString()===question.chapter.toString()){%>
                                        <option value="<%=ch._id%>" selected> Chapter <%=ch.chapter_no%> </option>
                                        <%} else {%>
                                        <option value="<%=ch._id%>">Chapter <%=ch.chapter_no%> </option>
                                        <%}%> <%});%>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group mb-3">
                                <label class="font-weight-bold">Question Type <span class="text-danger">*</span></label>
                                <div class="md-form">
                                    <select class="form-control" id="exampleFormControlSelect1" name="questionType">
                                        <option disabled selected>Select Question type</option>
                                        <% if("optional"==question.questionType){%>
                                        <option value="optional" selected>Multiple Choice Question</option>
                                        <option value="description">Descriptive Question</option>
                                        <% } else if("description"==question.questionType){%>
                                        <option value="optional">Multiple Choice Question</option>
                                        <option value="description" selected>Descriptive Question</option>

                                        <%}%>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-8">
                            <div class="form-group mb-3">
                                <label class="font-weight-bold"
                                    >Question title <span class="text-danger">*</span></label
                                >
                                <div class="md-form">
                                    <input
                                        type="text"
                                        name="title"
                                        placeholder="Question title "
                                        value="<%=question.title%>"
                                        class="form-control"
                                        required="required"
                                    />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12 text-left">
                            <div class="form-group mb-3 text-center">
                                <button id="" type="submit" class="btn btn-primary waves-effect waves-light">
                                    Submit
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
